{% extends 'base.html'%}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">
    <div class="form-group">
        <h2>formulaire d'enregistrement des malades</h2>
        <form method="POST" enctype='multipart/form-data'>
            {% csrf_token %}
            <div class="form-group">{{form|crispy}} </div>
            <div class="btn btn-light">
                <button type="submit">Ajouter</button>
                <button><a href="{% url 'malade:maladeview'%}">voir tout les malades enregistrés</a></button>
            </div>
        </form>
    </div>
</div>
{% endblock content%}